<div ng-init="init()" ng-controller="SitesDetailsCtrl">
  <!--<nvd3 options="options" data="data"></nvd3>-->
  <!-- Group List - start -->
  <div class="col-md-2">
    <h1>Sites</h1>
    <ul class="list-group">
      <li ng-repeat="site in siteList" class="list-group-item">
        <a ui-sref="sites.details({ id: site.code })">{{site.code}}</a>
      </li>
    </ul>

    <form role="form" name="createSiteForm" ng-submit="addGroup(createSiteForm)" novalidate>
      <div class="form-group">
        <label for="siteName">Site Name</label>
        <input type="text" class="form-control" id="siteName" name="siteName" ng-model="siteName" required>

        <div class="form-group has-error">
          <p class="help-block" ng-show="createSiteForm.siteName.$error.required && submitted">
            Please enter your site name.
          </p>
        </div>
      </div>

      <div ng-show="errorMessage" class="alert alert-dismissible alert-danger">
        <strong>You can't create such site. Please change Site Name and try again.</strong>
      </div>

      <button type="submit" class="btn btn-success">Add Site</button>

    </form>

  </div>
  <!-- Group List - end -->

  <div class="col-md-7">
    <h1>Interactions Chart</h1>
    <div id="chart_placeholder"></div>
  </div>


</div>
